<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoqChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D37C2C702C43CDC7007AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37C2C862C43CDCC007AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37C2C902C43CDCC007AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
